In [22]:
import pandas as pd
data = pd.read_csv('123.csv')
#data.head()
(data.groupby('rating').count()
.sort_values('rating', ascending = False)
.reset_index()[['rating', 'movieId']])

   rating  movieId
0     5.0    13211
1     4.5     8551
2     4.0    26818
3     3.5    13136
4     3.0    20047
5     2.5     5550
6     2.0     7551
7     1.5     1791
8     1.0     2811
9     0.5     1370